@model Ifrit.Models.Resume

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Детали резюме</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Содержание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Заработная плата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("applicant"))
    {
        @Html.ActionLink("Редакстировать", "Edit", new { id = Model.ResumeId }) @:|
        @Html.ActionLink("Назад к списку резюме", "Index");
    }
    @if (User.IsInRole("employer"))
    {
        @Html.ActionLink("Пригласить на собеседование", "Invite", "Interaction", new { id = Model.ResumeId }) @:|
        @Html.ActionLink("Назад к поиску", "Find");
    }
</p>
