@model Ifrit.Models.UIBusinessCard

@{
    ViewBag.Title = "ShowBusinessCard";
}
<div class="comteiner">
    <div class="row">
        <h3 class="BCTitle">@Html.DisplayFor(model => model.Title)</h3>
        <div class="col-md-2">
            <div>
                @Html.Raw("<img class='img-responsive img-thumbnail' src=\"data:image/jpeg;base64,"
                                    + Convert.ToBase64String(Model.Logo) + "\" />")                
            </div>
            <div>
                @Html.DisplayFor(mode => Model.Adress)
            </div>
        </div>
        <div class="col-md-10">
            <div class="caption">
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
</div>
<hr/>
@Html.ActionLink("Редактировать", "EditBusinessCard", new { id = Model.BusinessCardId }) |
@Html.ActionLink("Удалить", "DeleteBusinessCard", new { id = Model.BusinessCardId })
