@model Ifrit.Models.Vacancy

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Детали вакансии</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Содержание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Заработная плата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редакстировать", "Edit", new { id = Model.VacancyId }) |
    @Html.ActionLink("Назад к списку вакансий", "Index")
</p>
